<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Smart Hotel | Admin</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body class="">

        <div id="wrapper">
            
            <%- include('./partials/sidebar') %>

            <div id="page-wrapper" class="gray-bg">

                <%- include('./partials/content-header') %>

                <div class="wrapper wrapper-content">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Google Home Devices</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Unique Id</th>
                                        <th>Device Model</th>
                                        <th>Description</th>
                                        <th>Created At</th>
                                        <th>Assign Room</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% if(devices.length > 0) { %>

                                        <% var i = 1 %>
                                        <% devices.forEach(function(device) { %>
                                            <tr>
                                                <td> <%= i %> </td>
                                                <td> <%= device.device_id %> </td>
                                                <td> <%= device.model %> </td>
                                                <td> <%= device.description %> </td>
                                                <td> <%= device.created_at.toUTCString() %> </td>
                                                
                                                <% if(device.room_assign == undefined || device.room_assign == "") { %>
                                                    <td class="text-center"> Unassign </td>
                                                <% } else { %>
                                                    <td class="text-center"> <%= device.room_raw[0].location_name %> </td>
                                                <% } %>                                                

                                                <% if(device.status) { %>
                                                    <td class="bg-primary"> Active </td>
                                                <% }else { %>
                                                    <td class="bg-warning"> Not Active </td>
                                                <% } %>

                                                <td>
                                                    <a href="/google-home-devices/<%= device._id %>/edit/" 
                                                        class="btn btn-sm btn-default">
                                                        <i class="fa fa-edit"> </i> Edit
                                                    </a>
                                                    <a href="/google-home-devices/<%= device._id %>/delete/"  
                                                        class="btn btn-sm btn-default">
                                                        <i class="fa fa-trash"> </i> Delete
                                                    </a>
                                                </td>

                                            </tr>
                                            <% i++ %>
                                        <% }); %>
                                    <% }else { %>
                                        <tr>
                                            <td class="text-center" colspan="8">
                                                No Devices...
                                            </td>
                                        </tr>
                                    <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <%- include('./partials/footer') %>
            </div>

        </div>

        <!-- Mainly scripts -->
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/js/plugins/path/path.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/js/inspinia.js"></script>
        <script src="/js/admin.js"></script>
        <script src="/js/plugins/pace/pace.min.js"></script>


    </body>
</html>
