<%+ extend('admin/index') %>

<%+ section('content') %>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Rooms</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>Rooms</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Rooms</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Room</th>
                            <th>Description</th>
                            <th>Devices</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i = 1 %>
                        <% rooms.forEach(function(room) { %>
                            <tr>
                                <td> <%= i %> </td>
                                <td> <%= room.location_name %> </td>
                                <td> <%= room.description %> </td>
                                <td> <a href="/rooms/<%= room.id %>/show" > <%= room.children.length %> units </a> </td>
                            </tr>
                            <% i++ %>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%+ endSection %>