<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Smart Hotel | Admin</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <script src="/js/jquery-3.1.1.min.js"></script>

    </head>

    <body class="">

        <div id="wrapper">
            
            <%- include('../partials/sidebar') %>

            <div id="page-wrapper" class="gray-bg">

                <%- include('../partials/content-header') %>

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-4">
                        <h2>New User</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href='/users'>Users</a>
                            </li>
                            <li class="active">
                                <strong>New</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>

                <div class="wrapper wrapper-content">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>New User</h5>
                        </div>
                        <div class="ibox-content">
                            <div id='validation-message'></div>
                            <form id="user-new-form" action="/users/save" method="POST" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" class="form-control" minlength="5" required /> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" class="form-control" minlength="5" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="confirm-password" class="form-control" minlength="5" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assign Room</label>
                                    <div class="col-sm-10">
                                        <select name="room" class="form-control">
                                            <option value=""> Unassign </option>
                                            <% rooms.forEach(function(room) { %>
                                                <option value="<%= room.id %>"> <%= room.location_name %></option>
                                             <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>

                <%- include('../partials/footer') %>
            </div>

        </div>

        <%- include('../partials/script') %>

        <script type="text/javascript">
            
            $('#user-new-form').submit(function(event){
                event.preventDefault();

                let form = $('#user-new-form');
                let username = $('input[name=username]').val();
                let password = $('input[name=password]').val();
                let confirmPassword = $('input[name=confirm-password]').val();
                let room = $('select[name=room]').val();

                if(password == confirmPassword){
                    $.ajax({
                        url: form.prop('action'),
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            username: username,
                            password: password,
                            room: room
                        },
                        success: function (data){
                            window.location.href = '/users';
                        },
                        error: function (err){
                            alert('Something went wrong');
                        }
                    });
                }else{
                    alert('Password Mismatch');
                }

            });

        </script>

    </body>
</html>
